body {
	background-color: #000;
	color: #fff !important;
}


#bubbleParent{
	position: relative;
}

.bubbleChild {
	position: absolute;
}


.bubble {
	width: 15px;
	height: 15px;
	position: absolute;
    border-radius: 100%;
	-webkit-animation: bubblePop 1s ease-in;
	-webkit-animation-iteration-count: 0.95s;
  	filter: opacity(100%); 
}

.hide {
	display: none;
}

.show {
	display: inline-block;
}

#party {
	color: #fff;
	text-align: center;
	/*z-index: 2;*/
	width: 11rem;
	height: 11rem;
	position: absolute;
	/*top: 50;
	left: 50;*/
	/*left: 50%;
	transform: translateX(-50%);*/
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	/*top: 0;
	bottom: 0;*/
	margin: 0 auto;

	background-color: #2196f3;

	border-radius: 100%;
	/*filter: opacity(100%);*/
	opacity: 0.67;

}

.partyText {
	width: 50%;
	line-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	font-size: 1.8rem;

	opacity: 3;

}

#buttons {
	color: #fff;
	position: absolute;
	top: 70%;
	transform: translateY(-25%);
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-left: 34%;
	height: 18%;
	opacity: 0.67;
	
}

.button {
	display: inline-block;
	width: 16%;
	/*height: 15%;*/
	background-color: #2196f3;
	border-radius: 5%;
	text-align: center;
	opacity: 1;

}

a {
	color: #fff;
	z-index: 5;
	color: inherit;
}

@-webkit-keyframes bubblePop {
	0% {
		-webkit-filter: opacity(.5);
	}
	50% {
		-webkit-filter: opacity(.5);
	}
	90%{
		-webkit-transform: scale(0.2, 0.2);
	}
	100% {
		-webkit-filter: opacity(1);
		-webkit-transform: scale(0.01, 0.01);
  		filter: opacity(100%); 
	}

}